# netbox_nautobot
SLACK_API_TOKEN=xoxb-...
SLACK_SIGNING_SECRET=...
MICROSOFT_APP_ID=...
MICROSOFT_APP_PASSWORD=...
WEBEX_TEAMS_ACCESS_TOKEN=...
WEBEX_TEAMS_SIGNING_SECRET=...
# netbox_nautobot_ansible
TOWER_URI=https://...
TOWER_USERNAME=...
TOWER_PASSWORD=...
